
.collections-head {
  font-family: 'Ubuntu', sans-serif;
}

@media only screen 
and (min-device-width : 768px) {

.collections-dash-container {
  display: flex;
  flex-direction: column;
}

.collections-head {
  order: 1;
}

.noCollections-dash-container h1 {
  padding: 10px;
  text-align: center;
}

.noCollections-dash-container p {
  padding: 10px;
  font-size: 18px;
  text-align: center;
}

.add-collection-div {
  display: flex;
  align-items: center;
}

.add-collection-div a {
  padding: 10px;
}

.add-collection-div a:hover {
  color: #2980B9;
}

.add-collection-div a:active {
  color: black;
}

.featured-collection {
  order: 2;
  display: flex;
  flex-direction: row;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  height: 60vh;
}

.all-collections-list {
  order: 3;
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  margin-top: 2%;
}

.featured-article {
  order: 1;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-right: 1px solid black;
  position: relative;
}

.featured-article h1 {
  position: absolute;
  z-index: 3;
  color: white;
  top: 5%;
  left: 5%
}

.featured-article-list {
  order: 2;
  width: 40%;
  display: flex;
  flex-direction: column;
}

.article-list-detail {
  border-bottom: 1px solid black;
  height: 70px;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.article-list-detail li {
  list-style-type: none;
  padding-right: 10px;
}

.selected-article-list-detail {
  border-bottom: 1px solid black;
  height: 70px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  font-weight: bold;
}

.selected-article-list-detail li {
  list-style-type: none;
  padding-right: 10px;
}

.article-list-detail li:hover {
  color: cornflowerblue;
  cursor: pointer;
}

.selected-article-list-detail li:hover {
  color: cornflowerblue;
  cursor: pointer;
}

.featured-article img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: 1;
}

.collections-detail-parent {
  margin-bottom: 20px;
}

.all-collections-detail {
  display: flex;
  flex-direction: row;
  margin-bottom: 2%;
  align-items: center;
}

.all-collections-detail li {
  order: 2;
  list-style-type: none;
  padding-left: 50px;
  padding-right: 25px;
}

.all-collections-detail a {
  order: 3;
  list-style-type: none;
}

.all-collections-detail li:hover {
  cursor: pointer;
  color: cornflowerblue;
}

.selected-all-collections-detail {
  display: flex;
  flex-direction: row;
  margin-bottom: 2%;
  align-items: center;
}

.selected-all-collections-detail li {
  order: 2;
  list-style-type: none;
  padding-left: 50px;
  padding-right: 25px;
  font-weight: bold;
}

.selected-all-collections-detail a {
  order: 3;
  list-style-type: none;
}

.selected-all-collections-detail li:hover {
  cursor: pointer;
  color: cornflowerblue;
}

.list-img {
  order: 1;
  height: 5em;
  width: 8em;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border: 1px solid black;
}

.all-collections-detail li {
  order: 2;
  list-style-type: none;
  padding-left: 50px;
  padding-right: 25px;
}

.all-collections-detail a {
  order: 3;
  list-style-type: none;
}

.all-collections-detail li:hover {
  cursor: pointer;
  color: cornflowerblue;
}

.list-img img {
  display: flex;
  flex-shrink: 0;
  max-width: 100%;
  min-height: 100%;
}

.remove-article {
  color: red;
  cursor: pointer;
}

.remove-article svg:hover {
  height: 40px;
  width: 40px;
}

.remove-collection {
  color: red;
  cursor: pointer;
}

.edit-title {
  position: absolute;
  z-index: 3;
  left: 6%;
  top: 12%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.edit-title p {
  padding-left: 10px;
  color: white;
  font-style: italic;
  font-size: 18px;
}

.edit-title p:hover {
  font-weight: bold;
  cursor: pointer;
}

.selected-collection-articles {
  display: none;
}

.collection-articles {
  display: none;
}

.collections-dropdown {
  order: 3;
	display: flex;
  flex-direction: row;
  align-content: center;
}

.collections-dropcontent {
  position: absolute;
  margin-left: 50px;
  overflow: visible !important;
}

.collections-dropcontent, .social-content {
	z-index: 5;
	background-color: #f1f1f1;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	overflow: visible !important;
}

.collections-dropcontent a, .social-content a {
	z-index: 5;
	color: black;
	padding: 12px 16px;
	text-decoration: none;
}

.collections-dropcontent a {
	display: block;
}

.social-content {
  text-align: center;
}

.SocialMediaShareButton, .SocialMediaShareButton div {
	display: inline;
	padding: 2px;
}

.social-icon:hover {
	cursor: pointer;
}

.collections-dropcontent a:hover, .social-content a:hover {
	background-color: #ddd;
}

.collections-dropbtn {
	z-index: 4;
	background-color: transparent;
	color: rgba(202, 228, 219, 1.0);
	border-radius: 8px;
	border: none;
	cursor: pointer;
	font-size: 30px;
	width: 100%;
}

.collections-dropbtn:hover, .collections-dropbtn:focus {
	color: rgba(202, 228, 219, 0.7);
}

}

@media only screen 
and (max-device-width : 768px) {

  .add-collection-div {
    display: flex;
    align-items: center;
    padding-left: 2%;
  }

  .add-collection-div h3 {
    padding-left: 2%;
  }

  .collections-head {
    text-align: center;
    font-size: 24px;
  }

  .featured-article {
    display: none;
  }

  .featured-article-list {
    display: none;
  }

  .all-collections-list {
    display: flex;
    flex-direction: column;
  }

  .all-collections-list img {
    width: 100%;
    height: 100%;
  }

  .list-img {
    width: 25%;
    height: 100%;
  }

  .all-collections-detail {
    height: 90px;
    width: 100%;
    display: flex;
    align-items: center;
    list-style-type: none;
    background-color: rgba(51, 54, 59, 0.2);
    margin-bottom: 5vh;
  }

  .selected-all-collections-detail {
    height: 90px;
    width: 100%;
    display: flex;
    align-items: center;
    list-style-type: none;
    background-color: rgba(51, 54, 59, 0.2);
    margin-bottom: 2vh;
  }

  .selected-all-collections-detail li {
    font-weight: bold;
  }

  .all-collections-title {
    font-size: 24px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .selected-collection-articles {
    list-style-type: none;
    display: flex;
    margin-bottom: 2vh;
    background-color: #cae4db;
    color: #33363b;
    font-weight: bold;
  }

  .responsive-article-list {
    display: flex;
    flex-direction: column;
  }

  .responsive-article-list-detail {
    display: flex;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
  }

  .responsive-article-list-detail li {
  }

  .collection-articles {
    display: none;
  }

}