.modal-div {
  width: 60vw;
  height: 400px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  border: 1px solid black;
  border-radius: 5px;
  background-color: lightgray;
  animation: 3s ease-in;
}

.modal-div h3 {
  text-align: center;
}

.modal-close-clickable {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
}

.modal-close-clickable:hover {
  color: white;
}

.modal-close-clickable:active {
  color: black;
}

.modal-top-line {
  width: 100%;
  height: 1px;
  background-color: black;
}

.modal-div form {
  padding: 20px;
}

.collection-name-label {
  display: block;
  padding-bottom: 8px;
}

.collection-name-input {
  border-radius: 5px;
  border-style: none;
  padding: 8px;
  width: 100%;
  box-sizing: border-box;
}

.create-collection-submit {
  margin-top: 8px;
  border: none;
  border-radius: 5px;
  height: 40px;
  width: 200px;
  background-color: #2980B9;
  color: white;
}

.includes-detail {
  display: flex;
  justify-content: center;
  align-items: center;
}

.includes-detail * {
  padding-left: 2px;
  padding-right: 2px;
}

.includes-detail img {
  width: 10%;
  height: 10%;

}

.error-message-div {
  color: red;
}

.backdrop-div {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0px;
  left: 0px;
  z-index: 9998;
  background: rgba(0, 0, 0, 0.5);
}