.modal-div {
  width: 60vw;
  height: 400px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  border: 1px solid black;
  border-radius: 5px;
  background-color: lightgray;
  animation: 3s ease-in;
}

.modal-div h3 {
  text-align: center;
  margin-top: 10%;
  padding-left: 2%;
  padding-right: 2%;
}

.modal-close-clickable {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
}

.modal-close-clickable:hover {
  color: white;
  cursor: pointer;
}

.modal-close-clickable:active {
  color: black;
}

.modal-top-line {
  width: 100%;
  height: 1px;
  background-color: black;
}

.modal-div form {
  padding: 20px;
}

.collection-name-label {
  display: block;
  padding-bottom: 8px;
}

.collection-name-input {
  border-radius: 5px;
  border-style: none;
  padding: 8px;
  width: 100%;
  box-sizing: border-box;
}

.create-collection-submit {
  margin-top: 8px;
  border: none;
  border-radius: 5px;
  height: 40px;
  width: 100%;
  background-color: #00303f;
  color: white;
}

.modal-delete-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal-delete-buttons button {
  height: 40px;
  width: 90%;
  font-size: 16px;
  margin-top: 8px;
  border: none;
  border-radius: 5px;
  background-color: #00303f;
  color: white;
}

.modal-delete-buttons button:hover {
  cursor: pointer;
}

.includes {
  padding: 2%;
  background-color: #cae4db;;
}

.includes h4 {
  margin-top: 0;
  margin-bottom: 0;
  border-bottom: 2px solid black;
}

.includes-detail {
  display: flex;
  justify-content: center;
  align-items: center;
}

.includes-detail * {
  padding-left: 2px;
  padding-right: 2px;
}

.includes-detail img {
  width: 10%;
  height: 10%;

}

.error-message-div {
  color: red;
}

.backdrop-div {
  position: fixed;
  width: 100vw;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 9998;
  background: rgba(0, 0, 0, 0.5);
}

@media only screen 
and (max-device-width : 768px) {

  .modal-div h3 {
    margin-top: 20%;
  }

  .includes img {
    display: none;
  }

  .includes-detail {
    display: flex;
    flex-direction: column;
  }

}