
.collections-head {
  font-family: 'Ubuntu', sans-serif;
}

@media only screen 
and (min-device-width : 768px) {

.collections-dash-container {
  display: flex;
  flex-direction: column;
}

.collections-head {
  order: 1;
}

.noCollections-dash-container h1 {
  padding: 10px;
  text-align: center;
}

.noCollections-dash-container p {
  padding: 10px;
  font-size: 18px;
  text-align: center;
}

.add-collection-div {
  display: flex;
  align-items: center;
}

.add-collection-div a {
  padding: 10px;
}

.add-collection-div a:hover {
  color: #2980B9;
}

.add-collection-div a:active {
  color: black;
}

.featured-collection {
  order: 2;
  display: flex;
  flex-direction: row;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  height: 60vh;
}

.all-collections-list {
  order: 3;
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  margin-top: 2%;
}

.featured-article {
  order: 1;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-right: 1px solid black;
  position: relative;
}

.featured-article h1 {
  position: absolute;
  z-index: 3;
  color: white;
  top: 5%;
  left: 5%
}

.featured-article-list {
  order: 2;
  width: 40%;
  display: flex;
  flex-direction: column;
}

.article-list-detail {
  border-bottom: 1px solid black;
  height: 70px;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.article-list-detail li {
  list-style-type: none;
  padding-right: 10px;
}

.selected-article-list-detail {
  border-bottom: 1px solid black;
  height: 70px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  font-weight: bold;
}

.selected-article-list-detail li {
  list-style-type: none;
  padding-right: 10px;
}

.article-list-detail li:hover {
  color: cornflowerblue;
  cursor: pointer;
}

.selected-article-list-detail li:hover {
  color: cornflowerblue;
  cursor: pointer;
}

.featured-article img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: 1;
}

.all-collections-detail {
  display: flex;
  flex-direction: row;
  margin-bottom: 2%;
  align-items: center;
}

.all-collections-detail li {
  order: 2;
  list-style-type: none;
  padding-left: 50px;
  padding-right: 25px;
}

.all-collections-detail a {
  order: 3;
  list-style-type: none;
}

.all-collections-detail li:hover {
  cursor: pointer;
  color: cornflowerblue;
}

.selected-all-collections-detail {
  display: flex;
  flex-direction: row;
  margin-bottom: 2%;
  align-items: center;
}

.selected-all-collections-detail li {
  order: 2;
  list-style-type: none;
  padding-left: 50px;
  padding-right: 25px;
  font-weight: bold;
}

.selected-all-collections-detail a {
  order: 3;
  list-style-type: none;
}

.selected-all-collections-detail li:hover {
  cursor: pointer;
  color: cornflowerblue;
}

.list-img {
  order: 1;
  height: 5em;
  width: 8em;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border: 1px solid black;
}

.all-collections-detail li {
  order: 2;
  list-style-type: none;
  padding-left: 50px;
  padding-right: 25px;
}

.all-collections-detail a {
  order: 3;
  list-style-type: none;
}

.all-collections-detail li:hover {
  cursor: pointer;
  color: cornflowerblue;
}

.list-img img {
  display: flex;
  flex-shrink: 0;
  max-width: 100%;
  min-height: 100%;
}

.remove-article {
  color: red;
  cursor: pointer;
}

.remove-article svg:hover {
  height: 40px;
  width: 40px;
}

.remove-collection {
  color: red;
  cursor: pointer;
}

.remove-collection svg:hover {
  height: 40px;
  width: 40px;
}

.edit-title {
  position: absolute;
  z-index: 3;
  left: 6%;
  top: 12%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.edit-title p {
  padding-left: 10px;
  color: white;
  font-style: italic;
  font-size: 18px;
}

.edit-title p:hover {
  font-weight: bold;
  cursor: pointer;
}

.selected-collection-articles {
  display: none;
}

.collection-articles {
  display: none;
}

}

@media only screen 
and (max-device-width : 768px) {

  .add-collection-div {
    display: flex;
    align-items: center;
    padding-left: 2%;
  }

  .add-collection-div h3 {
    padding-left: 2%;
  }

  .collections-head {
    text-align: center;
    font-size: 24px;
  }

  .featured-article {
    display: none;
  }

  .featured-article-list {
    display: none;
  }

  .all-collections-list {
    display: flex;
    flex-direction: column;
  }

  .all-collections-list img {
    width: 100%;
    height: 100%;
  }

  .list-img {
    width: 25%;
    height: 100%;
  }

  .all-collections-detail {
    height: 90px;
    width: 100%;
    display: flex;
    align-items: center;
    list-style-type: none;
    background-color: rgba(51, 54, 59, 0.2);
    margin-bottom: 5vh;
  }

  .selected-all-collections-detail {
    height: 90px;
    width: 100%;
    display: flex;
    align-items: center;
    list-style-type: none;
    background-color: rgba(51, 54, 59, 0.2);
    margin-bottom: 5vh;
  }

  .all-collections-title {
    font-size: 24px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .selected-collection-articles {
    list-style-type: none;
    margin-bottom: 5vh;
  }

  .responsive-article-list {
    display: flex;
    flex-direction: column;
  }

  .responsive-article-list-detail {
    display: flex;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
  }

  .responsive-article-list-detail li {
  }

  .collection-articles {
    display: none;
  }

}