.main-newsfeed-head {
  font-family: 'Ubuntu', sans-serif;
  margin-left: 35px;
}

.loadingBar {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: rgba(51, 54, 59, 0.8);
  width: 100%;
  height: 100%;
}

.loadingBar div{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center
}

.icon-loading {
  width: 20%;
  height: 30%;
}

@media only screen 
and (min-device-width : 768px) {

.hidden {
    display:none;
}
.show{
    display:block;
}

.mobile-activity-link {
  display: none;
}

.main-section-dash {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  color: #33363b;
}

.newsfeed-container {
  order: 1;
  min-width: 70%;
  flex-direction: column;
}

.newsfeed-container h2 {
  order: 1;
}

.newsfeed-container ul {
  order: 2;
  width: 90%;
  margin: auto;
  padding: 0;
}

.activity-feed-container {
  order: 2;
  align-content: right;
  background-color: #cae4db;
  max-height: 250vh;
  border-bottom:  1px solid rgba(51, 54, 59, 1.0);
  display: flex;
  flex-direction: row;
}

.feed-btn {
  height: 100%;
  min-width: 16px;
  background-color:rgba(51, 54, 59, 0.8);
  display: flex;
  align-items: center;
}

.arrows {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.feed-btn:hover {
  cursor: pointer;
  background-color:rgba(51, 54, 59, 0.5)
}

.activity {
  height: 100%;
}

.max {
  min-width: 30%
}

.min {
  width: 2%
}

.headlines-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

}

@media only screen 
and (max-device-width : 768px) {

  .main-newsfeed-head {
    margin-left: 0px;
  }
  
  .hidden {
    display:none;
  }
  .show{
    display:block;
  }

  .dashboard {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .headlines-list {
    list-style-type: none;
    padding: 0;
    text-align: left !important;
  }

  .activity-feed-container {
    display: none;
  }

  .main-section-dash, .newsfeed-container {
    min-width: 100%;
  }
  
  .newsfeed-container {
    margin-top: 2%;
  }

}