.all-activities {
  max-height: 98%;
  overflow: hidden;
}

.all-activities li {
  list-style-type: none;
  padding-left: 30px;
  padding-top: 30px;
  width: 80%;
  font-size: 1em;
}

.all-activities p {
  padding-left: 30px;
}
