.all-activities li {
  list-style-type: none;
  padding-left: 30px;
  padding-top: 30px;
  width: 80%;
  font-size: 1em;
}

.all-activities p {
  padding-left: 30px;
}

/* .explore{
  display: flex;
  flex-direction: row;
}

.search-window {
  order: 2;
  width: 50%;
  display: flex;
  flex-direction: column;
}

.my-friend-info {
  order: 1;
  height: 10vh;
}

.friend-search {
  order: 2;
  margin-top: 30px;
} */