@media only screen 
and (min-device-width : 768px) {

.social-content div {
  width: 32px;
  height: 32px;
  display: inline;
}

.article-list {
	list-style-type: none;
	position: relative;
	border: 1px solid darkgray;
}

.li-container {
	height: 100%;
	width: 100%;
	display: flex;
	overflow: hidden;
	justify-content: center;
	align-items: center;
	position: relative;
	align-items: center;
	margin: auto;
}

.article-list:first-of-type {
	width: 100%;
	height: 45vh;
	margin-bottom: 10px;
}

.article-list:nth-of-type(n+2) {
	width: 33%;
	height: 30vh;
	margin-bottom: 10px;
}

.li-container img {
	z-index: 1;
	position: relative;
	min-width: 100%;
	height: 100%;
	object-fit: cover;
}

.li-container h2 {
	width: 80%;
	position: absolute;
	z-index: 2;
	color: white;
	text-shadow: 2px 2px black;
}

.dropdown {
	position: absolute;
	top: 5px;
	right: 5px;
	overflow: visible;
	display: flex;
	flex-direction: column;
	align-items: right;
}

.dropcontent, .social-content {
	z-index: 5;
	background-color: #f1f1f1;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	overflow: visible !important;
}

.dropcontent a, .social-content a {
	z-index: 5;
	color: black;
	padding: 12px 16px;
	text-decoration: none;
}

.dropcontent a {
	display: block;
}

.social-content {
  text-align: center;
}

.SocialMediaShareButton, .SocialMediaShareButton div {
	display: inline;
	padding: 2px;
}

.social-icon:hover {
	cursor: pointer;
}

.dropcontent a:hover, .social-content a:hover {
	background-color: #ddd;
}

.collections-dropcontent {
	background-color: #f1f1f1;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	overflow: visible !important;
}

.collections-dropcontent a {
	color: black;
	padding: 12px 16px;
	font-size: 12px;
	font-weight: 900;
	text-decoration: none;
	display: block;
}

.collections-dropcontent a:hover {
	background-color: #ddd;
}

.dropbtn {
	z-index: 4;
	background-color: transparent;
	color: rgba(51, 54, 59, 1.0);
	border-radius: 8px;
	border: none;
	cursor: pointer;
	font-size: 60px;
	width: 100%;
	text-align: right;
}

.dropbtn:hover, .dropbtn:focus {
	color: rgba(51, 54, 59, 0.7);
}

}

@media only screen 
and (max-device-width : 768px) {

  .hidden {
	display:none !important;
  }
  .show{
	display:flex !important;
  }

  .article-list {
		width: 100%;
		max-height: 10vh;
		display: flex;
		flex-direction: row;
		margin-bottom: 5vh;
		overflow: hidden;
		background-color: rgba(51, 54, 59, 0.2);
	}

	.li-container {
		order: 1;
		display: flex;
		flex-direction: row;
	}

	.li-container img {
		order: 1;
		position: relative;
		width: 25%;
	}

	.li-container h2 {
		font-size: 1em;
		order: 2;
		padding-left: 2%;
	}

	.dropdown {
		order: 2;
		display: flex;
		flex-wrap: wrap;
		min-width: 15%;
		align-items: center;
		justify-content: center;
	}

	.dropbtn {
		color: #00303f;
		font-size: 2em;
	}

	.dropcontent {
		border-radius: 5px;
		background-color: #cae4db;
		z-index: 5;
		position: absolute;
		right: 0%;
		margin-top: 100px;
		display: flex; 
		flex-direction: column;
		text-align: right;
	}

	.dropcontent a {
		text-decoration: none;
		padding-right: 5%;
		padding-top: 1%;
		padding-bottom: 3%;
		color: #00303f;
		font-weight: 700;
	}
	
	.social-content {
		width: 100%;
		align-items: right !important;
	}

	.social-content div {
		padding: 2%;
		align-self: right !important;
	}

	.social-content div div {
		align-content: right !important;
	}

}