.login-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  height: 30%;
  width: 40%;
  border: 1px solid black;
  border-radius: 5px;
  background-color: lightgray;
  align-items: center;
}

.social-logins {
  order: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.fb-button {
  order: 1
}

.google-button {
  order: 2
}

.divider {
  order: 2;
  margin: auto;
}

.form-div {
  order: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#username {
  order: 1
}

#password {
  order: 2
}

.login-button {
  order: 3
}

.memory {
  order: 4;
}

.log-signup {
  text-align: center;
}

.signup-link {
  color: lightblue;
  font-weight: bold;
  text-decoration: none;
}