.home-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.auth-container {
  order: 1;
  height: 80%;
  display: flex;
  flex-direction: column;
  font-family: 'Ubuntu', sans-serif;
}

.log-signup {
  text-align: center;
  order: 1;
  height: 20%;
}

.description-container {
  order: 2;
  flex-grow: 1;
  background-color: #00303f;
}

.login-container {
  order: 2;
  display: flex;
  flex-direction: column;
  margin: auto;
  flex-grow: 4;
  width: 40%;
  border-radius: 10px;
  background-color: rgba(51, 54, 59, 0.7);
  align-items: center;
  justify-content: center;
  margin-bottom: 4%;
  padding-top: 2%;
  padding-bottom: 2%
}

.social-logins {
  width: 100%;
  order: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 5px;
  align-items: center;
  align-self: center;
  flex-grow: 1;
}

.fb-button {
  order: 1
}

.google-button {
  order: 2
}

.fb-button, .google-button {
  width: 90%;
}

.facebook-login, .google-login {
  font-family: 'Ubuntu', sans-serif;
  text-shadow: none !important;
  width: 100%;
  border: none !important;
}

.facebook-login:hover, .google-login:hover, .login-button:hover {
  cursor: pointer;
}

.facebook-login:hover {
  background-color: rgba(59, 89, 152, 0.7) !important;
  border-color: rgba(59, 89, 152, 0.7) !important;
}

.google-login:hover {
  background-color: rgba(221, 75, 57, 0.7) !important;
  border-color: rgba(221, 75, 57, 0.7) !important;
}

.divider {
  order: 2;
  margin: auto;
  flex-grow: 1;
}


.login-form {
  order: 3;
  flex-grow: 2;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-between;
}

#email {
  order: 1;
}

#password {
  order: 2;
}

#email, #password {
  width: 90%;
  margin-bottom: 5%;
  height: 2em;
  border-radius: 5px;
  background-color: #f9f8fd;
  border: 0px;
  text-indent: 5px;
  color: #00303f
  
}

.login-button {
  order: 3;
  width: 90%;
  height: 2em;
  background-color: #dcae1d;
  border-radius: 5px;
  color: #f9f8fd;
  border: 0px;
  box-shadow: 0 4px 2px -2px grey;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  font-size: 1.5em;
}

.login-button:hover {
  background-color: rgba(220, 174, 29, 0.7)
}

.memory {
  order: 4;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
}

.signup-link {
  color: #dcae1d;
  font-weight: bold;
  text-decoration: none;
}

.signup-link:hover {
  color: rgba(220, 174, 29, 0.7)
}

.memory p {
  order: 1;
  color: rgba(249, 248, 253, 0.7);
}

.memory a {
  order: 2;
  color: rgba(249, 248, 253, 1.0);
  font-weight: 700;
  text-decoration: none;
}

.memory a:hover {
  color: rgba(249, 248, 253, 0.7);
}

.or span {
  color: rgba(249, 248, 253, 1.0);
}

.or {
  padding-bottom: 10px;
}

.error-alert {
  padding: 10px;
  color: white;
}

@media only screen 
and (max-device-width : 768px) {
  .login-container {
    width: 100vw;
  }

  .description-container {
    display: none;
  }
}