.nav-bar {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid black;
}

.nav-header {
  order: 1
}

.nav-components {
  order: 2;
  display: flex;
  margin-bottom: 10px;
}

.nav-header-div h1 {
  padding-left: 8px;
}

.nav-links {
  width: 70%;
}

.nav-links a {
  font-size: 18px;
  text-decoration: none;
  padding: 8px;
}

.nav-user-controls {
  width: 30%;
  text-align: right;
  padding-right: 20px;
}

.nav-user-controls span {
  padding: 8px;
  font-size: 20px;
}

.nav-user-controls button {
  font-size: 14px;
  border-radius: 8px;
}