.nav-bar {
  display: flex;
  flex-direction: column;
  background-color: #00303f;
}

.nav-header-div {
  width: 100%;
}

.nav-header {
  order: 1;
  width: 100%;
  margin-left: 1%;
  display: flex;
  flex-direction: row;
}

.nav-name {
  display: flex;
  flex-direction: row;
  align-items: center;
  order: 1;
  width: 70%;
}

.nav-name img {
  order: 1;
  height: 3em;
}

.nav-components {
  order: 2;
  display: flex;
  margin-bottom: 10px;
}

.nav-title {
  order: 2;
  padding-left: 8px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  font-size: 2.5em;
  color: #f9f8fd;
}

.nav-desc {
  order: 3;
  display: flex;
  font-family: 'Merienda';
  color: #f9f8fd;
  width: 25%;
  align-items: center;
  text-align: right;
}

.nav-desc h3 {
  width: 100%;
}

.nav-links {
  width: 70%;
  padding-left: 4%;
}

.nav-links a {
  color: #cae4db;
  font-size: 1em;
  text-decoration: none;
  padding: 8px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}

.nav-links a:hover {
  color: rgba(202, 228, 219, 0.7)
}

.nav-user-controls {
  width: 30%;
  text-align: right;
  padding-right: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif 
}

.nav-user-controls span {
  padding: 8px;
  font-size: 1em;
  color: #f9f8fd;
}

.nav-user-controls button {
  height: 2em;
  width: 10em;
  font-size: 14px;
  border-radius: 8px;
  background-color: #dcae1d;
  border: 0px;
  color: #f9f8fd;
  font-weight: 700;
}

.nav-user-controls button:hover {
  cursor: pointer;
  background-color: rgba(220, 174, 29, 0.7);
}

@media only screen 
and (max-device-width : 768px) {


  .hidden {
    display:none !important;
  }

  .show{
     display:flex !important;
  }  

  .nav-bar {
    display: block;
  }

  .nav-header {
    display: block;
    text-align: center;
    margin-left: 0px;
  }

  .nav-name img {
    position: relative;
    display: inline;
    height: 2em;
  }

  .nav-title {
    display: inline;
  }

  .nav-name {
    width: 100%;
    text-align: center;
    display: block;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-left: 0px;
  }

  .nav-desc, .nav-user-controls {
    display: none;
  }

  .nav-links {
    width: 100%;
    margin-left: 0px;
    padding-left: 0px;
  }

  .mobile-arrow {
    color: #f9f8fd;
    font-size: 2em;
    text-align: center;
    margin-bottom: 2%
  }

  .mobile-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    width: 100%;
  }

}