.nav-bar {
  display: flex;
  flex-direction: column;
  background-color: #00303f;
  /* height: 100%; */
}

.nav-header-div {
  width: 100%;
}

.nav-header {
  order: 1;
  width: 100%;
  margin-left: 1%;
  display: flex;
  flex-direction: row;
}

.nav-name {
  display: flex;
  flex-direction: row;
  align-items: center;
  order: 1;
  width: 70%;
}

.nav-name img {
  order: 1;
  height: 3em;
}

.nav-components {
  order: 2;
  display: flex;
  margin-bottom: 10px;
}

.nav-title {
  order: 2;
  padding-left: 8px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  font-size: 2.5em;
  color: #f9f8fd;
}

.nav-desc {
  order: 3;
  display: flex;
  font-family: 'Merienda';
  color: #f9f8fd;
  width: 25%;
  align-items: center;
  text-align: right;
}

.nav-desc h3 {
  width: 100%;
}

.nav-links {
  width: 70%;
  padding-left: 4%;
}

.nav-links a {
  color: #cae4db;
  font-size: 18px;
  text-decoration: none;
  padding: 8px;
}

.nav-links a:hover {
  color: rgba(202, 228, 219, 0.7)
}

.nav-user-controls {
  width: 30%;
  text-align: right;
  padding-right: 20px;
}

.nav-user-controls span {
  padding: 8px;
  font-size: 20px;
  color: #f9f8fd;
}

.nav-user-controls button {
  height: 2em;
  width: 10em;
  font-size: 14px;
  border-radius: 8px;
  background-color: #dcae1d;
  border: 0px;
  color: #f9f8fd;
  font-weight: 700;
}

.nav-user-controls button:hover {
  cursor: pointer;
  background-color: rgba(220, 174, 29, 0.7);
}