.search-div {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-top: 4px;
  padding-bottom: 4px;
  border-top: 1px solid #33363b;
  border-bottom: 1px solid #33363b;
  background-color: #f9f8fd;
  font-family: 'Ubuntu', sans-serif;
}

#categoryDropdown {
  height: 20px;
  border: 0px none;
  background-color: #f9f8fd;
  border-radius: 5px;
  border: 1px solid #33363b;
}

.search-div button {
  height: 20px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 5px;
  background-color: #f9f8fd;
  border: 0px;
  border: 1px solid #33363b;
}
.search-input {
  display: flex;
  justify-content: flex-end;
  padding-left: 8px;
  padding-right: 20px;
}

.search-input input {
  height: 20px;
  width: 16em;
  margin-left: 5px;
  margin-right: 5px;
  border: 0px;
  background-color: #f9f8fd;
  border-radius: 5px;
  border: 1px solid #33363b;
}

.search-icon, .search-options-icon {
  color: rgba(51, 54, 59, 1.0)
}

.search-options-icon {
  font-size: 0.5em;
  margin-top: 2px;
}

.search-message {
  font-weight: bold;
  padding-top: 2px;
  color: rgba(51, 54, 59, 1.0)
}

@media only screen 
and (max-device-width : 768px) {
  .search-message {
    display: none;
  }
  .search-div {
    border-top: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 10px;
  }
}